.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.mainContent {
  position: fixed;
  flex: 1;
  padding: 10px;
  left: 0px;
  overflow-x: hidden;
  transition: left 0.3s ease-in-out;
}

.openMain {
  left: 250px;
}

.closeMain {
  left: 0px;
}

.menuToggleButton,
.menuTogglePlaceholder {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.menuToggleButton {
  background-color: #007bff;
}

.menuToggleButton:hover {
  color: #007bff;
  background-color: white;
}
