@media all and (max-width: 2000px) and (min-width: 1200px) {
  .home {
    margin-left: 190px;
    padding: 10px;
    align-items: center;
  }
}

@media all and (max-width: 3300px) and (min-width: 2200px) {
  .home {
    margin-left: 600px;
    padding: 10px;
    align-items: center;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #fff;
}

.header p {
  font-size: 1.2rem;
  color: #ddd;
}

/* Contact section styles */
.contact {
  background-color: #222;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.contact h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1rem;
  color: #fff;
}

a {
  color: #ffa500; /* Orange text color for unvisited links */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #ff8c00; /* Darker orange for hover effect */
}

.header button {
  background: black; /* Base background color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header button:hover {
  background: rgb(255, 255, 255);
  color: black;
}


